
{% extends 'base.twig' %}

{% block main_content %}

    {% set email_alert = user.is_email_verified == 0
        ? user.has_open_email_verification ? 'wait' : 'email'
        : 'none' %}

    <div class="row">

        <!--profile left part-->
        <div class="col-lg-3">

            <div class="card" >
                <img src="{{ user.profile_picture }}" class="card-img-top" alt="{{ user.name }}">
                <div class="card-body">
                    <h2 class="card-title mb-3">{{ user.name }}</h2>
                    <p class="card-text mb-4">User since: {{ user.date_created|date("d M, Y") }}</p>

                    <div class="d-grid gap-2">
                        <button class="btn btn-outline-secondary btn-logout">Sign Out</button>
                    </div>
                </div>
            </div>
        </div>
        <!--//profile left part-->

        <div class="col-lg-9">

            <div class="content email-alert-{{ email_alert }}" id="my-account-content">

                <ul class="nav nav-pills nav-fill mb-4">
                    <li class="nav-item">
                        <button class="nav-link {{ goto == '' or goto == 'settings' ? 'active' : '' }}"
                                id="settings-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#settings-tab-pane"
                                type="button"
                                role="tab"
                                aria-controls="settings-tab-pane"
                                aria-selected="{{ goto == '' or goto == 'settings' ? 'true' : 'false' }}">Account Settings</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link {{ goto == 'favorites' ? 'active' : '' }}"
                                id="favorites-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#favorites-tab-pane"
                                type="button"
                                role="tab"
                                aria-controls="favorites-tab-pane"
                                aria-selected="{{ goto == 'favorites' ? 'true' : 'false' }}">Favorites</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link {{ goto == 'chef' ? 'active' : '' }}"
                                id="chef-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#chef-tab-pane"
                                type="button"
                                role="tab"
                                aria-controls="chef-tab-pane"
                                aria-selected="{{ goto == 'chef' ? 'true' : 'false' }}">Chef Profile</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link {{ goto == 'recipes' ? 'active' : '' }}"
                                id="recipes-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#recipes-tab-pane"
                                type="button"
                                role="tab"
                                aria-controls="recipes-tab-pane"
                                aria-selected="{{ goto == 'recipes' ? 'true' : 'false' }}">My Recipes</button>
                    </li>
                </ul>

                <div class="tab-content" >
                    <div class="tab-pane fade {{ goto == '' or goto == 'settings' ? 'show active' : '' }}"
                         id="settings-tab-pane"
                         role="tabpanel"
                         aria-labelledby="settings-tab"
                         tabindex="0">

                        <div class="alert" style="display:none" id="alert-settings"></div>

                        <form id="frm-settings">
                            <input type="hidden" name="user_id" value="{{ current_user_id }}">

                            <div class="mb-3">
                                <label for="name" class="form-label">Name</label>
                                <input required type="text" class="form-control" name="name" placeholder="Name" aria-label="Name" value="{{ user.name }}">
                            </div>

                            <div class="mb-4">
                                <label for="name" class="form-label">Email</label>
                                <input required type="email" class="form-control" name="email" placeholder="Email" aria-label="Email" value="{{ user.email }}">
                                <div class="text-success m-1 email-verified"><i class="fa fa-check"></i> Verified</div>
                                <div class="text-warning m-1 email-unverified"><i class="fa fa-warning"></i> Unverified</div>
                            </div>

                            <button type="submit" class="btn btn-primary mb-3">Update Account</button>
                        </form>

                        <div class="alert alert-success alert-verification" id="alert-verification-wait">
                            <h4>Please check your email</h4>
                            <p>We emailed you a link to verify your account.</p>
                            <button class="btn btn-secondary btn-verify-email">Send Another Verification Email</button>
                        </div>
                        <div class="alert alert-warning alert-verification" id="alert-verification-email">
                            <p>Please verify your account</p>
                            <button class="btn btn-secondary btn-verify-email">Send Verification Email</button>
                        </div>
                        <div class="alert alert-success alert-verification" id="alert-verification-email-sent">
                            <h4>Verification link sent!</h4>
                            <p>Follow the instructions in the email to verify your account.</p>
                        </div>

                    </div>
                    <div class="tab-pane fade {{ goto == 'favorites' ? 'show active' : '' }}"
                         id="favorites-tab-pane"
                         role="tabpanel"
                         aria-labelledby="favorites-tab"
                         tabindex="0">

                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 loading" id="favorites-container">
                        </div>

                    </div>
                    <div class="tab-pane fade {{ goto == 'chef' ? 'show active' : '' }}"
                         id="chef-tab-pane"
                         role="tabpanel"
                         aria-labelledby="chef-tab"
                         tabindex="0">

                        <div class="alert" style="display:none" id="alert-chef"></div>

                        <form id="frm-chef">
                            <input type="hidden" name="user_id" value="{{ user.id }}">

                            <div class="mb-3">
                                <label for="name" class="form-label">Chef Name</label>
                                <input required type="text" class="form-control" name="name" placeholder="Chef Name" aria-label="Chef Name" value="{{ chef.name }}">
                            </div>

                            <div class="mb-3">
                                <label for="name" class="form-label">Gender</label>
                                <select required class="form-select" name="is_male" aria-label="Gender" >
                                    <option value="0" {{ not chef.is_male ? 'selected' : '' }}>Female (she/her)</option>
                                    <option value="1" {{ chef.is_male ? 'selected' : '' }}>Male (he/him)</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="favorite_foods" class="form-label">Favorite Food</label>
                                <textarea class="form-control" rows="2" name="favorite_foods" id="favorite_foods"  >{{ chef.favorite_foods }}</textarea>
                            </div>

                            <div class="mb-3">
                                <label for="wisdom" class="form-label">Favorite Quote</label>
                                <textarea class="form-control" rows="2" name="wisdom" id="wisdom" >{{ chef.wisdom }}</textarea>
                            </div>

                            <h4>Your Story</h4>
                            <div class="mb-3">
                                <label id="story" for="story" class="form-label">How do you related to the Hunt's? How did you get here?</label>
                                <textarea class="form-control" rows="3" name="story" id="story"  >{{ chef.story }}</textarea>
                            </div>

                            <button type="submit" class="btn btn-primary mb-3">Update Chef Profile</button>

                        </form>

                    </div>
                    <div class="tab-pane fade {{ goto == 'recipes' ? 'show active' : '' }}"
                         id="recipes-tab-pane"
                         role="tabpanel"
                         aria-labelledby="recipes-tab"
                         tabindex="0">

                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 loading" id="recipes-container">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
