
{% extends 'base.twig' %}

{% block main_content %}

    <div class="row">

        <!--profile left part-->
        <div class="col-lg-4">

            <div class="card" >
                <img src="{{ chef.profile_picture }}" class="card-img-top" alt="{{ chef.name }}">
                <div class="card-body">
                    <h2 class="card-title mb-3">{{ chef.name }}</h2>
                    <p class="card-text mb-4">User since: {{ chef.date_created|date("d M, Y") }}</p>

                    <div class="d-grid gap-2">
                        <a href="/recipes/?chef_id={{ chef.id }}" class="btn btn-primary">See {{ chef.is_male ? 'His' : 'Her' }} Recipes</a>
                    </div>

                    {% if chef.user_id == current_user_id %}
                        <hr>
                        <div class="d-grid gap-2">
                            <a href="/account/?goto=chef" class="btn btn-outline-secondary">Edit Chef Profile</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!--//profile left part-->

        <div class="col-lg-8">

            {% if chef.story or chef.faviroite_foods or chef.favorite_cuisine %}
                <div class="content">

                    {% if chef.wisdom %}
                        <figure class="mb-4 mt-3">
                            <blockquote class="blockquote">
                                {{ chef.wisdom }}
                            </blockquote>
                            <figcaption class="blockquote-footer">
                                {{ chef.name }}
                            </figcaption>
                        </figure>
                    {% endif %}

                    {% if chef.story %}
                        <h4>{{ chef.is_male ? 'His' : 'Her' }} Story</h4>
                        <p>{{ chef.story }}</p>
                    {% endif %}

                    {% if chef.favorite_foods %}
                        <h4>Favorite Foods</h4>
                        <p>{{ chef.favorite_foods }}</p>
                    {% endif %}

                    {% if chef.favorite_cuisine %}
                        <h4>Favorite Cuisine</h4>
                        <p>{{ chef.favorite_cuisine }}</p>
                    {% endif %}

                </div>
            {% endif %}

            <div class="row">
                <div class="col-lg-12">
                    <h2 class="ribbon bright">{{ chef.name }}'s Favorites</h2>
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 loading" id="favorites-container" data-user-id="{{ chef.user_id }}">

                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
