{% set show_footer = true %}

{% extends 'base.twig' %}

{% block page_title %}
    <h1 class="page-title" style="margin-bottom:12px" data-recipe-id={{ recipe.id }}>{{ page_title }}{{ recipe.published_flag ? '' : '&nbsp;<span class="badge bg-primary"><small>DRAFT</small></span>'|raw }}</h1>
{% endblock %}

{% block main_content %}

    <!--row-->
    <div class="row">
        <div class="col-lg-8">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="border:none">
                    {% if recipe.cuisine %}
                        <li class="breadcrumb-item"><a
                                    href="/recipes/?cuisine_id={{ recipe.cuisine_id }}">{{ recipe.cuisine }}</a></li>
                    {% endif %}
                    {% if recipe.recipe_type %}
                        <li class="breadcrumb-item"><a
                                    href="/recipes/?recipe_type_id={{ recipe.type_id }}">{{ recipe.recipe_type }}</a>
                        </li>
                    {% endif %}
                    {% if recipe.course %}
                        <li class="breadcrumb-item"><a
                                    href="/recipes/?course_id={{ recipe.course_id }}">{{ recipe.course }}</a></li>
                    {% endif %}
                </ol>
            </nav>
        </div>
        <div class="col-lg-4 d-print-none">
            <img id="recipe-image"
                 class="img-thumbnail rounded mb-4 {{ 'generic_recipe' in recipe.image_filename ? 'd-none' : '' }}"
                 style="width: 100%" src="{{ recipe.image_filename }}" alt="{{ recipe.title }}" />
        </div>
    </div>
    <!--//row-->

    <div class="row gx-4" style="margin-bottom: 30px">
        <h2 class="d-none d-print-block">Ingredients</h2>

        {% for column in recipe.ingredient_columns %}
            <div class="col-lg-{{ recipe.ingredient_col_num }}">

                {% if column.child > 0 %}
                    <h5 class="child-recipe-title">{{ recipe.children[column.child - 1].title }}</h5>
                {% endif %}

                <dl class="basic recipe-ingredients row row-gap-2">
                    {% for item in column.items %}
                        <dt class="col-3 ingredient-amount{{ item.amount == 0 ? ' no-amount' : '' }}"
                            data-org-amount="{{ item.general_measure_amount }}"
                            data-measure-type-id="{{ item.measure_type_id }}" >
                            {{ item.value_formatted }}
                        </dt>
                        <dd class="col-9 ingredient-name"
                            data-name="{{ item.raw_ingredient_name }}"
                            data-name-plural="{{ item.raw_ingredient_name_plural }}" >
                            {{ item.name_formatted }}
                        </dd>
                    {% endfor %}
                </dl>
            </div>
        {% endfor %}
        <!--//ingredient-columns-->
    </div>

    <div class="row gx-4">
        <div class="col-lg-9">
            <div class="recipe-instructions">
                <h2 class="d-none d-print-block">Instructions</h2>
                <ol>
                    {% for item in recipe.instructions %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ol>
            </div>

            <!--child instructions-->
            {% for child in recipe.children %}
                <h4 class="child-instructions-title">Instructions For {{ child.title }}</h4>
                <div class="recipe-instructions">
                    <ol>
                        {% for item in child.instructions %}
                            <li>{{ item }}</li>
                        {% endfor %}
                    </ol>
                </div>
            {% endfor %}

        </div>


        <aside class="col-lg-3">

            {% if recipe.serving_count > 0 %}
                <div class="input-group mb-3">
                    <span class="input-group-text">Makes <i class="fa fa-edit" style="margin-left: 10px;"></i></span>
                    <input id="input-serving" type="text" class="form-control" placeholder="{{ recipe.serving_count }}" aria-label="Serving count" data-org-serving="{{ recipe.serving_count }}" value="{{ recipe.serving_count }}" >
                </div>
            {% endif %}

            <dl class="basic row row-gap-2 mb-3">

                {% if recipe.chef %}
                    <dt class="col-6 info">Chef</dt>
                    <dd class="col-6">{{ recipe.chef }}</dd>
                {% endif %}

                {% if recipe.recipe_type %}
                    <dt class="col-6 info">Category</dt>
                    <dd class="col-6">{{ recipe.recipe_type }}</dd>
                {% endif %}

                {% if recipe.course %}
                    <dt class="col-6 info">Course</dt>
                    <dd class="col-6">{{ recipe.course }}</dd>
                {% endif %}

                {% if recipe.cuisine %}
                    <dt class="col-6 info">Cuisine</dt>
                    <dd class="col-6">{{ recipe.cuisine }}</dd>
                {% endif %}

            </dl>

            <hr class="d-print-none">

            {% if recipe.liked_by|length > 0 %}
                <div class="boxed-widget liked-by-widget d-print-none">
                    <h5>Users who like this recipe</h5>
                    <ul class="boxed">
                        {% for item in recipe.liked_by %}
                            <li style="background-image: url({{ item.profile_picture }})">
                                <a href="javascript:">
                                    <span>{{ item.name }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="d-grid gap-2 mb-3 d-print-none">
                <button class="btn {{ recipe.is_liked ? 'btn-favorite' : 'btn-outline-favorite' }} btn-save-to-favorites" >
                    <i class="fa fa-heart"></i>
                    {{ recipe.is_liked ? 'My Favorite' : 'Save to my favorites' }}
                </button>
            </div>

            {% if recipe.i_am_the_chef or 'generic_recipe' in recipe.image_filename %}
                <div class="d-grid gap-2 mb-3 d-print-none">
                    <button class="btn btn-primary btn-recipe-image" >
                        <i class="fa fa-upload"></i> Add Recipe Picture
                    </button>
                </div>
            {% endif %}

            {% if is_developer and ('generic_recipe' in recipe.image_filename or '/generated/' in recipe.image_filename) %}
                <div class="d-grid gap-2 mb-3 d-print-none">
                    <button class="btn btn-dark btn-ai-recipe-image" >
                        <i class="fa fa-magic-wand-sparkles"></i> Generate AI Recipe Image
                    </button>
                </div>
            {% endif %}

            {% if recipe.i_am_the_chef %}
                <div class="d-grid gap-2 mb-3 d-print-none">
                    <a class="btn btn-warning" href="/recipes/recipe/edit/?id={{ recipe.id }}" >
                        <i class="fa fa-pencil"></i> Edit Recipe
                    </a>
                </div>
            {% endif %}

            <div class="d-grid gap-2 mb-4 d-print-none">
                <a href="/recipes/recipe/print/?id={{ recipe.id }}" class="btn btn-secondary" >View Print Friendly</a>
            </div>

        </aside>
    </div>

    <!-- Photo Upload Modal -->
    <div class="modal fade" id="photo-upload-modal" tabindex="-1" aria-labelledby="photo-upload-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="photo-upload-modal-title">Upload New Recipe Photo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Initial Upload State -->
                    <div class="uploadState text-center p-4">
                        <input type="file" id="photoInput" class="d-none" accept="image/*">
                        <label for="photoInput" class="btn btn-outline-primary mb-3">
                            Choose a Photo
                        </label>
                        <p class="text-muted">Select a photo to upload. You'll be able to adjust and crop it in the next step.</p>
                    </div>

                    <!-- Cropping State -->
                    <div class="cropping-container croppingState" style="display:none">
                        <div class="img-container mb-3">
                            <img src="" alt="Upload preview" class="cropImage">
                        </div>
                        <p class="text-muted">Drag to reposition and use the corners to resize. Your profile photo will be square.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary me-auto btn-remove-photo" >Remove Photo</button>
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary cropButton" style="display:none">Save Photo</button>
                </div>
            </div>
        </div>
    </div>

    {% set modal_image_gen_name = 'mdl-image-gen' %}
    {% include 'partials/modal-image-gen.twig' %}

{% endblock %}
