{% set show_footer = true %}

{% extends 'base.twig' %}

{% block page_title %}
    <h1 class="page-title" style="margin-bottom:12px">{{ page_title }}</h1>
{% endblock %}

{% block main_content %}

    <!--row-->
    <div class="row">
        <div class="col-lg-8">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="border:none">
                    {% if recipe.cuisine %}
                        <li class="breadcrumb-item"><a
                                    href="/recipes/?cuisine_id={{ recipe.cuisine_id }}">{{ recipe.cuisine }}</a></li>
                    {% endif %}
                    {% if recipe.recipe_type %}
                        <li class="breadcrumb-item"><a
                                    href="/recipes/?recipe_type_id={{ recipe.type_id }}">{{ recipe.recipe_type }}</a>
                        </li>
                    {% endif %}
                    {% if recipe.course %}
                        <li class="breadcrumb-item"><a
                                    href="/recipes/?course_id={{ recipe.course_id }}">{{ recipe.course }}</a></li>
                    {% endif %}
                </ol>
            </nav>
        </div>
        <div class="col-lg-4">
            {% if recipe.image_filename != '/assets/images/recipes/generic_recipe.jpg' %}
                <img style="width: 100%" class="mb-4" src="{{ recipe.image_filename }}" alt="{{ recipe.title }}"/>
            {% endif %}
        </div>
    </div>
    <!--//row-->

    <div class="row gx-4" style="margin-bottom: 30px">

        {% for column in recipe.ingredient_columns %}
            <div class="col-lg-{{ recipe.ingredient_col_num }}">
                <dl class="recipe-ingredients row row-gap-2">
                    {% for item in column.items %}
                        <dt class="col-3 ingredient-amount{{ item.amount == 0 ? ' no-amount' : '' }}"
                            data-org-amount="{{ item.general_measure_amount }}"
                            data-measure-type-id="{{ item.measure_type_id }}" >
                            {{ item.value_formatted }}
                        </dt>
                        <dd class="col-9 ingredient-name"
                            data-name="{{ item.raw_ingredient_name }}"
                            data-name-plural="{{ item.raw_ingredient_name_plural }}" >
                            {{ item.name_formatted }}
                        </dd>
                    {% endfor %}
                </dl>
            </div>
        {% endfor %}
        <!--//ingredient-columns-->

        <!--child ingredient-columns-->
        <!--//child ingredient-columns-->

    </div>

    <div class="row gx-4">
        <div class="col-lg-9">
            <div class="recipe-instructions">
                <ol>
                    {% for item in recipe.instructions %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ol>

                <!--child instructions-->

            </div>
        </div>


        <aside class="col-lg-3">

            <div class="liSaveToFavorites  medium-brown">
                <a id="btnSaveToFavorites" href="#" title="Favorites">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                    <span>Save to Favorites</span>
                </a>
            </div>
            <div class="light">
                <a id="btnAddToMealPlan" href="#" title="Meal Planning">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <span>Add to Meal Plan</span>
                </a>
            </div>
            <div class="medium">
                <a href="/recipe_print.php?recipe_id=168" target="_blank" title="Printer Friendly">
                    <i class="fa fa-print" aria-hidden="true"></i>
                    <span>View Print Friendly</span>
                </a>
            </div>

            <div>
                <dl class="basic">
                    <dt>Category</dt>
                    <dd>Cookies</dd>
                    <dt>Course</dt>
                    <dd>Dessert</dd>
                    <dt>Makes <i class="fa fa-edit pull-right" style="margin-top: 10px" aria-hidden="true"></i></dt>
                    <dd>
                        <input type="text" style="max-width: 40%" id="input-serving" data-org-serving="112.00000000"
                               value="112" data-ddg-inputtype="unknown">
                    </dd>
                </dl>
            </div>

            <div class="widget">
                <h3>Members who liked this recipe</h3>
                <ul class="boxed">
                    <li>
                        <div class="avatar"><a href="#"><img src="" alt=""><span></span></a></div>
                    </li>
                    <li>
                        <div class="avatar"><a href="#"><img src="" alt=""><span></span></a></div>
                    </li>
                    <li>
                        <div class="avatar"><a href="#"><img src="" alt=""><span></span></a></div>
                    </li>
                    <li>
                        <div class="avatar"><a href="#"><img src="" alt=""><span></span></a></div>
                    </li>
                    <li>
                        <div class="avatar"><a href="#"><img src="" alt=""><span></span></a></div>
                    </li>
                    <li>
                        <div class="avatar"><a href="#"><img src="" alt=""><span></span></a></div>
                    </li>
                    <li>
                        <div class="avatar"><a href="#"><img src="" alt=""><span></span></a></div>
                    </li>
                    <li>
                        <div class="avatar"><a href="#"><img src="" alt=""><span></span></a></div>
                    </li>
                    <li>
                        <div class="avatar"><a href="#"><img src="" alt=""><span></span></a></div>
                    </li>
                </ul>
            </div>

        </aside>
    </div>

{% endblock %}
