{% set show_footer = true %}

{% extends 'base.twig' %}

{% block page_title %}
    <h1 class="page-title" style="margin-bottom:12px">{{ page_title }}</h1>
{% endblock %}

{% block main_content %}

    <!--row-->
    <div class="row">
        <div class="col-lg-8">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="border:none">
                    {% if recipe.cuisine %}
                        <li class="breadcrumb-item"><a
                                    href="/recipes/?cuisine_id={{ recipe.cuisine_id }}">{{ recipe.cuisine }}</a></li>
                    {% endif %}
                    {% if recipe.recipe_type %}
                        <li class="breadcrumb-item"><a
                                    href="/recipes/?recipe_type_id={{ recipe.type_id }}">{{ recipe.recipe_type }}</a>
                        </li>
                    {% endif %}
                    {% if recipe.course %}
                        <li class="breadcrumb-item"><a
                                    href="/recipes/?course_id={{ recipe.course_id }}">{{ recipe.course }}</a></li>
                    {% endif %}
                </ol>
            </nav>
        </div>
        <div class="col-lg-4">
            {% if recipe.image_filename != '/assets/images/recipes/generic_recipe.jpg' %}
                <img style="width: 100%" class="mb-4" src="{{ recipe.image_filename }}" alt="{{ recipe.title }}"/>
            {% endif %}
        </div>
    </div>
    <!--//row-->

    <div class="row gx-4" style="margin-bottom: 30px">

        {% for column in recipe.ingredient_columns %}
            <div class="col-lg-{{ recipe.ingredient_col_num }}">
                <dl class="basic recipe-ingredients row row-gap-2">
                    {% for item in column.items %}
                        <dt class="col-3 ingredient-amount{{ item.amount == 0 ? ' no-amount' : '' }}"
                            data-org-amount="{{ item.general_measure_amount }}"
                            data-measure-type-id="{{ item.measure_type_id }}" >
                            {{ item.value_formatted }}
                        </dt>
                        <dd class="col-9 ingredient-name"
                            data-name="{{ item.raw_ingredient_name }}"
                            data-name-plural="{{ item.raw_ingredient_name_plural }}" >
                            {{ item.name_formatted }}
                        </dd>
                    {% endfor %}
                </dl>
            </div>
        {% endfor %}
        <!--//ingredient-columns-->

        <!--child ingredient-columns-->
        <!--//child ingredient-columns-->

    </div>

    <div class="row gx-4">
        <div class="col-lg-9">
            <div class="recipe-instructions">
                <ol>
                    {% for item in recipe.instructions %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ol>

                <!--child instructions-->

            </div>
        </div>


        <aside class="col-lg-3">

            {% if current_user_id > 0 %}
                <div class="d-grid gap-2 mb-4">
                    <button class="btn {{ recipe.is_liked ? 'btn-favorite' : 'btn-outline-favorite' }} btn-save-to-favorites" >
                        <i class="fa fa-heart"></i>
                        {{ recipe.is_liked ? '' : 'Save to my favorties' }}
                    </button>
                </div>
            {% endif %}

            <div class="input-group mb-4">
                <span class="input-group-text">Makes <i class="fa fa-edit" style="margin-left: 10px;"></i></span>
                <input id="input-serving" type="text" class="form-control" placeholder="{{ recipe.serving_count }}" aria-label="Serving count" data-org-serving="{{ recipe.serving_count }}" value="{{ recipe.serving_count }}" >
            </div>

            <dl class="basic row row-gap-2 mb-4">

                {% if recipe.chef %}
                    <dt class="col-6 info">Chef</dt>
                    <dd class="col-6">{{ recipe.chef }}</dd>
                {% endif %}

                {% if recipe.recipe_type %}
                    <dt class="col-6 info">Category</dt>
                    <dd class="col-6">{{ recipe.recipe_type }}</dd>
                {% endif %}

                {% if recipe.course %}
                    <dt class="col-6 info">Course</dt>
                    <dd class="col-6">{{ recipe.course }}</dd>
                {% endif %}

                {% if recipe.cuisine %}
                    <dt class="col-6 info">Cuisine</dt>
                    <dd class="col-6">{{ recipe.cuisine }}</dd>
                {% endif %}

            </dl>

            {% if recipe.liked_by|length > 0 %}
                <div class="boxed-widget liked-by-widget">
                    <h5>Users who liked this recipe</h5>
                    <ul class="boxed">
                        {% for item in recipe.liked_by %}
                            <li style="background-image: url({{ item.profile_picture }})">
                                <a href="javascript:">
                                    <span>{{ item.name }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="d-grid gap-2 mb-4">
                <button class="btn btn-secondary" >View Print Friendly</button>
            </div>

        </aside>
    </div>

{% endblock %}
